@use "../partials/colors";

.header {
  align-items: center;
  background: #000000;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;

  &__nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__navLink {
    color: #000;
    font-size: 24px;
    text-decoration: none;
    padding: 20px;

    &:hover {
      background: colors.$color-violet;
      color: #FFF;
    }
  }
}